/* CSS HEX
--murrey: #82284aff;
--light-blue: #bfe2e7ff;
--gunmetal: #022d3dff;
--platinum: #dadee6ff;
--viridian: #558564ff;

SCSS RGB
$murrey: rgba(130, 40, 74, 1);
$light-blue: rgba(191, 226, 231, 1);
$gunmetal: rgba(2, 45, 61, 1);
$platinum: rgba(218, 222, 230, 1);
$viridian: rgba(85, 133, 100, 1);
*/

/* GLOBAL STYLES */

html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}

html, body {
   height: 100%;
}

body {
   background: #dadee6ff;
   margin: 0;
   font-family: "Montserrat", sans-serif;
   font-size: 16px;
}

h1, h2, h3, .btn {
   font-family: "Roboto Mono", monospace;
}

p {
   line-height: 25px;
}

h1 {
   color: #558564ff;
   margin: 5px;
}

h3 {
   margin-top: 10px;
}

.dashed-header {
   margin-top: 10px;
   margin-bottom: 10px;
}

/* links*/
a {
   color: #82204aff;
   text-decoration: none;
   cursor: pointer;
}

a:hover {
   color: #022d3dff;
   text-decoration: none;
   font-weight: bold;
   cursor: pointer;
}

footer a {
   color: #bfe2e7ff;
   cursor: pointer;
}

footer a:hover {
   color: #dadee6ff;
   cursor: pointer;
}

.btn {
   background: #82204aff;
   color: #dadee6ff;
   text-decoration: none;
   border: 2px solid #022d3dff;
   border-radius: 8px;
   padding: 5px;
   text-align: center;
   display: inline-block;
   font-size: 14px;
   letter-spacing: 1px;
   text-transform: uppercase;
}

.btn:hover {
   color: #dadee6ff;
   cursor: pointer;
}

.content-wrapper {
   margin: 0 auto;
   padding: 15px;
   max-width: 900px;
}

/* HOME */
.home {
   background: url(../images/christopher-gower-m_HRfLhgABo-unsplash.jpg)  center / cover;
   display: flex;
   flex-direction: column;
}

.home .content-wrapper {
   flex: 1 0 auto;
}

.main-wrapper {
   flex: 1 0 auto;
   margin: 0 auto;
   padding: 0 15px 15px;
   max-width: 900px;
   display: flex;
   flex-direction: column;
}

.bg-color {
   background: rgba(218, 222, 230, 0.9);
   padding: 20px;
}

/* RESUME */

.resume header::before {
   background: url(../images/christopher-gower-m_HRfLhgABo-unsplash.jpg) center / cover;
   content: '';
   display: block;
   height: 550px;
}

.resume-section, .education-section {
   margin-bottom: 50px;
}

.resume-section .dashed-header, .education-section .dashed-header {
   border-bottom: 2px dashed #142f2aff;
}

.job, .education {
   display: flex;
   gap: 10px;
}

.job {
   margin: 15px 0;
}

.job-details {
   min-width: 250px;
}

.education-details {
   max-width: 250px;
}

.work-links {
   color: #558564;
   font-weight: bold;
   font-size: 17px;
}

.download-link {
   position: fixed;
   top: 5px;
   left: 5px;
}

.published-paper {
   display: flex;
   gap: 50px;
}

.published-paper img {
   height: 250px;
   float: left;
   margin-right: 15px;
}

.published-paper-details {
   margin-top: -18px;
}

/* Education */
.education-section {
   margin: 0;
}

.education {
   margin: 15px 0;
}

/* FOOTER */
footer {
   background: rgba(2, 45, 61, 1);
   color: #dadee6ff;
}

.socials {
   list-style-type: none;
   padding: 0;
}

.socials li {
   display: inline-block;
   margin-left: 10px;
}

.socials img {
   height: 32px;
}

.socials img:hover {
   opacity: 0.7;
}

.socials .linkedInLogo img {
   position: relative;
   top: 3px;
}

/*  EASTER EGG CAT PAGE */

.easteregg-normal {
   color: black;
}

.easteregg-header {
   color: black;
}

.easteregg-link {
   color: #558564ff;
   font-weight: bold;
   font-size: 17px;

}

.spooky {
   margin-right: 20px;
}

.spooky-main {
   display: flex;
}

.spooky img{
   width: 500px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 560px) {
   footer {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
   }
}

@media screen and (max-width: 559px) {
   footer {
      text-align: center;
      padding: 10px;
   }
}

@media screen and (max-width:600px ) {
   .published-paper {
      display: flex;
      flex-direction: column;
   }

   .download-link {
      position: absolute;
   }

   .education {
      flex-direction: column;
   }

   .education-details {
      max-width: none;
      display: flex;
      flex-direction: column;
      gap: 5px;
      justify-content: space-between;
   }

   h3 {
      margin: 0;
   }

   h2 {
      font-size: 20px;
   }

   h1 {
      font-size: 25px;
   }

   p {
      margin: 5px;
   }

   .job {
      flex-direction: column;
   }

   .job-details {
      min-width: auto;
      display: flex;
      flex-direction: column;

   }
}