/* CSS HEX
--murrey: #82284aff;
--light-blue: #bfe2e7ff;
--gunmetal: #022d3dff;
--platinum: #dadee6ff;
--viridian: #558564ff;

SCSS RGB
$murrey: rgba(130, 40, 74, 1);
$light-blue: rgba(191, 226, 231, 1);
$gunmetal: rgba(2, 45, 61, 1);
$platinum: rgba(218, 222, 230, 1);
$viridian: rgba(85, 133, 100, 1);
*/

/* GLOBAL STYLES */

html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}

html, body {
   height: 100%;
}

body {
   background: #dadee6ff;
   margin: 0;
   font-family: "Montserrat", sans-serif;
   font-size: 16px;
}

h1, h2, h3 {
   font-family: "Roboto Mono", monospace;
}

h1 {
   color: #558564ff;
}

/* links*/
a {
   color: #82204aff;
   text-decoration: none;
   cursor: pointer;
}

a:hover {
   color: #022d3dff;
   text-decoration: none;
   font-weight: bold;
   cursor: pointer;
}

footer a {
   color: #bfe2e7ff;
   cursor: pointer;
}

footer a:hover {
   color: #dadee6ff;
   cursor: pointer;
}

.btn {
   background: #82204aff;
   color: #dadee6ff;
   text-decoration: none;
}

.btn:hover {
   color: #dadee6ff;
   cursor: pointer;
}

.content-wrapper {
   margin: 0 auto;
   padding: 15px;
   max-width: 900px;
}

/* HOME */
.home {
   background: url(../images/christopher-gower-m_HRfLhgABo-unsplash.jpg)  center / cover;
   display: flex;
   flex-direction: column;
}

.home .content-wrapper {
   flex: 1 0 auto;
}

.main-wrapper {
   flex: 1 0 auto;
   margin: 0 auto;
   padding: 0 15px 15px;
   max-width: 900px;
   display: flex;
   flex-direction: column;
}

.bg-color {
   background: rgba(218, 222, 230, 0.9);
   padding: 20px;
}

/* RESUME */

.resume header::before {
   background: url(../images/christopher-gower-m_HRfLhgABo-unsplash.jpg) center / cover;
   content: '';
   display: block;
   height: 550px;
}

.resume-section, .education-section {
   margin-bottom: 50px;
}

.resume-section .dashed-header, .education-section .dashed-header {
   border-bottom: 2px dashed #142f2aff;
}

.job, .education {
   display: grid;
   grid-template-columns: 1fr 2fr;
   column-gap: 20px;
}

.work-links {
   color: #558564;
   font-weight: bold;
   font-size: 17px;
}

.download-link {
   position: fixed;
   top: 5px;
   left: 5px;
}

.project-item {
   display: flow-root;
   margin: 30px 0;
}

.project-item img {
   height: 250px;
   float: left;
   margin-right: 15px;
}
/* Profile */
/* Projects */
/* Work Experience */
/* Education */


/* FOOTER */
footer {
   background: rgba(2, 45, 61, 1);
   color: #dadee6ff;
   display: flex;
   justify-content: space-between;
   padding: 0 20px;
}

.socials {
   list-style-type: none;
   padding: 0;
}

.socials li {
   display: inline-block;
   margin-left: 10px;
}

.socials img {
   width: 32px;
}

.socials img:hover {
   opacity: 0.7;
}

.socials .linkedInLogo img {
   position: relative;
   top: 3px;
}